{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>Tous les biens</h1>

	<a class="btn btn-success m-5" href="{{ path('app_bien_new') }}">Ajouter un nouveau bien</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Type de Bien</th>
				<th>Pour</th>
				<th>Appartient à</th>
				<th>Email</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Téléphone</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			{% for bien in biens %}
				<tr>
					<td>{{ bien.id }}</td>
					<td>{{ bien.label }}</td>
					<td>{{ bien.maxPeople }}
						personnes</td>

					<td>
						{% for role in bien.roles %}
							{% if role == 'ROLE_ADMIN' %}
								<span class="badge rounded-pill bg-success">Admin</span>
							{% elseif role == 'ROLE_OWNER' %}
								<span class="badge rounded-pill bg-primary">Propriétaire</span>
							{% else %}
								<span class="badge rounded-pill bg-secondary">Pas de rôle</span>
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ bien.email }}</td>
					<td>{{ bien.lastname }}</td>
					<td>{{ bien.firstname }}</td>
					<td>{{ bien.phone }}</td>
					<td>
						{# {{ path('app_user_show', {'id': user.id}) }} #}
						<a class="btn btn-primary m-2" href="{{ path('app_bien_show', {'id': bien.id}) }}">Voir</a>
						<a class="btn btn-warning m-2" href="{{ path('app_bien_edit', {'id': bien.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">pas d'information trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success m-2" href="{{ path('app_bien_new') }}">Ajouter un nouveau bien</a>
{% endblock %}
