{% extends 'base.html.twig' %}

{% block title %}Mon espace
{% endblock %}

{% block body %}
	<h1 class="mb-5">Mon espace</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Role</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Téléphone</th>
				<th>Adresse</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ user.email }}</td>
				<td>
					{% for role in user.roles %}
						{% if role == 'ROLE_ADMIN' %}
							<span class="badge rounded-pill bg-success">Admin</span>
						{% elseif role == 'ROLE_OWNER' %}
							<span class="badge rounded-pill bg-primary">Propriétaire</span>
						{% elseif role == 'ROLE_USER' %}
							<span class="badge rounded-pill bg-secondary">Utilisateur</span>
						{% else %}
							<span class="badge rounded-pill bg-warning">Pas de rôle</span>
						{% endif %}
					{% endfor %}
				</td>
				<td>{{ user.lastname }}</td>
				<td>{{ user.firstname }}</td>
				<td>{{ user.phone }}</td>
				<td>{{ user.address }}</td>
				<td>
					{# {{ path('app_user_show', {'id': user.id}) }} #}
					<a class="btn btn-primary m-2" href="{{ path('app_show_reservation', {'id': user.id}) }}">Voir les réservations</a>
					<a class="btn btn-warning m-2" href="{{ path('app_edit_user', {'id': user.id}) }}">Modifier</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
